.column {
    display: flex;
    flex-direction: column;
    max-width: 6%;
}

.note {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

.note:hover {
    cursor: pointer;
}

.r1.selectedNote,
.r5.selectedNote,
.r9.selectedNote {
    background-color: rgb(153, 191, 241);
}

.r1.selectedNote:hover,
.r5.selectedNote:hover,
.r9.selectedNote:hover {
    background-color: rgb(165, 199, 245);
    transition: background-color 0.5s;
}

.r2.selectedNote,
.r6.selectedNote,
.r10.selectedNote {
    background-color: rgb(100, 223, 196);
}

.r2.selectedNote:hover,
.r6.selectedNote:hover,
.r10.selectedNote:hover {
    background-color: rgb(111, 230, 204);
    transition: background-color 0.5s;
}

.r3.selectedNote,
.r7.selectedNote,
.r11.selectedNote {
    background-color: rgb(32, 204, 118);
}

.r3.selectedNote:hover,
.r7.selectedNote:hover,
.r11.selectedNote:hover {
    background-color: rgb(52, 226, 139);
    transition: background-color 0.5s;
}

.r4.selectedNote,
.r8.selectedNote,
.r12.selectedv {
    background-color: rgb(176, 95, 230);
}

.r4.selectedNote:hover,
.r8.selectedNote:hover,
.r12.selectedNote:hover {
    background-color: rgb(183, 107, 235);
    transition: background-color 0.5s;
}